.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  gap: 80px;
  padding: 0 100px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.title {
  font-size: 100px;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 400px;
}
.paragraph {
  line-height: 1.4;
  font-size: 18px;
  max-width: 600px;
}
.contactButton {
  background-color: rgb(247, 241, 234);
  border: none;
  color: black;
  border: 0.25em solid black;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 18px;
}
.imgContainer {
  display: flex;
  justify-content: flex-end;
  max-width: 400px;
  width: 50%;
}
.img {
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .imgContainer {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .imgContainer {
    width: 100%;
  }
}
