.navbarContainer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.logo {
  justify-content: flex-start;
  width: 150px;
}
.list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3em;
  margin-right: 10%;
}

.buttonContainer {
  display: flex;
}
.contactButton {
  display: flex;
  margin-left: 200px;
}
